body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
a{
    text-decoration: none;
}
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .last-15{
    width: 200px;margin: 0;
}
.dfc{
    display: flex;flex-direction: column;gap: 5px;
}
.agente-img{
    width: 60px;height: 60px; border-radius: 0.25em;
}
.home{
    
    background-image: url(./src/wallpaper.jpg);
    height: 100vh;
    background-size: 100% 100%;
    background-position:center;
    background-repeat: no-repeat;
}
:root{
    --red: rgb(275,70,85)
}
*{
    color: white;
    box-sizing: border-box;
    padding: 0;margin: 0;
}

span{
    color: var(--red);
}
.logo{
    width: 100%;display: flex;justify-content: center;align-items: center;flex-direction: column;
}
.body{
    width: 100%;
    background-color:rgb(14,16,21) ;
    min-height: 300vh;
}
.opaco{
    padding-top: 50px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4));
    width: 100%;
    height: 100%;
    display: flex;justify-content: center;align-items: center;flex-direction: column;
    
}

.titulo{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);font-size:40px;
}

.subtitulo{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);font-size: 20px;
}
.login{
    width: 600px;
    height: 40px;
    background-color: var(--red);
    border-radius: 0.25em;
    margin: auto;
    margin-top: 30px;
    display: flex;justify-content: center;align-items: center;
    font-weight: 600;cursor: pointer;
    transition: 1s ease all;
}
.login:hover{
    opacity: .80;
}

.public-profile{
    text-align: center;color:gray;font-size: 13px;margin-top: 5px;text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.stats-div{
    width: 100%;
    padding:40px 120px 40px 120px;
}



.map-txt{
    width: 150px;
}
.map-info{
    margin-bottom: 20px;
}


.current-stats{
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    display: flex;flex-direction: column;align-items: flex-start;justify-content: space-between;

}

.rank-logo{
    margin-right: 20px;
}

.gap{
    gap: 10px
}

.nomargin{
    margin: 0;
}

.buble-div{
    background-color: rgba(24,26,32); 
    padding:20px;border-radius: 0.25em;
    width: 100%;
    height: 150px;
    margin-top: 20px;
}
.df{
    display: flex;
}
.current-stats{
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    display: flex;flex-direction: column;align-items: flex-start;justify-content: space-between;

}

.rank-logo{
    margin-right: 20px;
}
.hauto{
    height: auto;
}